@import url('https://fonts.googleapis.com/css2?family=Jost:ital,wght@0,100..900;1,100..900&display=swap');
@import "tailwindcss";

@utility container {
  margin-inline: auto;
  padding-inline: 2rem;
}

@theme {
  --font-jost: "Jost", sans-serif;
  --background-image-banner: url('./assets/bg.png')
}

.btn {
  @apply rounded-sm px-[30px] py-[15px] cursor-pointer duration-300
}

.btn-outline {
  @apply border border-gray-100 text-gray-100 hover:bg-blue-600 hover:border-blue-600
}

.btn-primary {
  @apply hover:bg-blue-600 hover:border-blue-600 text-slate-900 bg-gray-100 hover:text-gray-100 border border-gray-100
}